<div class="shoe">
    <h3>{{ first_name }}</h3>
    <h3>{{ family_name }}</h3>
    <h3>{{ date_of_birth }}</h3>
    <h3>{{ date_of_death }}</h3>
    <a href="/author/details/{{ _id }}">details toDO</a>
</div>