<div class="book">
    <h3>{{ title }}</h3>
    <h4>Author name</h4>
    <h3>{{ author.name }}</h3>
    <h3>....</h3>
    </br>
    <h3>{{ isdn }}</h3>
    <h3>{{ summary }}</h3>
    <a href="/book/details/{{ _id }}">Deatils</a>
</div>